<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quedate en casa System</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="sobrenosotros_estilo1.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: darkblue;">
        <div class="container">
            <a class="navbar-brand" href="#">Quedate en casa System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="registro.html">Volver al inicio</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-12">
            <center>
            <div class="row" style="padding-top: 20px;">
                <div class="col-6" style="background-color: rgb(34, 173, 173)">
                    <P style="font-size: medium ; text-align: justify; color: white;">
                        <b>NUESTRA EMPRESA</b><br><br>
                        Somos un equipo conformado por estudiantes de la UCN, que ha decidido realizar
                        una plataforma web remota y segura, de tal manera que nuestros clientes tengan
                        la mejor satisfacción al momento de efectuar sus compras de pasajes.<br>
                        Equipo conformado por: Sebastián Fernández, Miguel Medina, Raúl Ramírez, Octavio Zepeda
                        <br><br>
                        <b>NUESTRO SERVICIO</b><br><br>
                        Quedate en casa system, pone a disposición su flota de buses a través de
                        la página web, que cuenta con las herramientas necesarias para una óptima
                        administración de la venta de pasajes, manteniendo un real control de las tarifas,
                        y agilizando de esta forma el proceso de compra.
                        Nuestra plataforma se adapta perfectamente a personas que necesitan
                        el proceso de compra de pasajes mediante proceso web.<br><br>
                        <b>CONTACTO</b><br><br>
                        Antes cualquier inconveniente o duda sobre nuestra plataforma, contacte a nuestro correo:
                        contactoquedateencasa@gmail.com
                    </P>
                </div>
                
                <div class="col-sm-4">
                    <img class="imagen1" src="bus1.jpg">
                </div>

            </div>
            </center>

        </div>


    </div>

</body>

</html>